@media only screen and (max-width: 480px) {
    #canvas {
        width: 400px;
        height: auto;
        border-width: 2px;
    }
}

@media only screen and (max-width: 600px) {
    #canvas {
        width: 560px;
        height: auto;
        border-width: 2px;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: rgb(247, 247, 247);

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#canvas {
    margin-left: 50px;
    display: flex;
    width: 960px;
    height: 1000px;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: rgb(26, 25, 25, var(--square-opacity, 0));
    
}

.square {
    
    flex: 0 0 auto;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    width: calc(100% / var(--squares-per-row));

}

form {
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(247, 247, 247);
    
}

#submitCanvasCount {
    padding: 5px;
}

#randomColor {
    padding: 5px;
    background: linear-gradient(to right, red, rgb(255, 0, 234), rgb(25, 174, 233), rgb(32, 230, 32));
}



#countForm {
    gap: 5px;
}

button {
    color: rgb(248, 248, 248);
}

#title {
    text-shadow:
  0px 0px 0px rgb(69, 14, 77),
  0 0 0.1em rgb(4, 4, 65);
   
}